.app-section {
  padding: 20px;
  background-image:url(/src/bg1.jpg);
  background-size: cover;
}

.app-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 20px;
  text-align: center;
}